
*{
    box-sizing: border-box;
}


body{
    
    width: 300px;
    height: 450px;
    margin: 30px auto;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;

}

#intervalContainer{
    text-align: center;
}

p{
    margin: 0 1px;
    text-align: center  ;
    font-size: 42px;
    font-family: sans-serif;
}

#main{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 100px;
    height: 350px;
    border: 1px solid black;
    
}

#main.counts{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 20px;

}



#buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.startActive{
    display: block;
    width: 60px;
    height: 60px;
    border: 1px solid #ccc;
    border-radius: 50%;
    text-align: center;
    padding-top: 19px;
    text-decoration: none;
    color: rgb(44, 42, 42);
    margin: 0 10px; 
}

.intervalButton{
    display: block;
    width: 60px;
    height: 60px;
    border: 1px solid #ccc;
    border-radius: 50%;
    text-align: center;
    padding-top: 19px;
    text-decoration: none;
    color: rgb(44, 42, 42);
    margin: 0 10px; 
}

#intervalContainer p{
    padding-top: 20px;
    font-size: 20px;
    font-weight: bold;
    border: 1px sol;
}



